body {
    font-family: Arial, Tahoma, Serif;
    color: #263238;
    padding: 0;
    margin: 0;
}

/*NavBar*/
.navbar {
    display: flex;
    justify-content: space-between; /* Рівномірно розподілити простір між елементами */
    align-items: center; /* Вирівняти елементи по вертикалі */
    padding: 1rem 2rem;
    background: #9b9b9b;
    margin: 0;
    height: 50px;
}

.navbar h2{
    color: #ffffff;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar li {
    padding-left: 1rem;
}

.navbar a {
    text-decoration: none;
    color: #ffffff
}

@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: row;
    }
    .navbar ul {
        flex-direction: row;
        padding-top: 0.5rem;
    }
    .navbar li {
        padding: 0.5rem 0;
    }
}

.navbar ul li:first-child {
    margin-right: auto;
}

.navbar ul li:nth-child(2) a {
    display: flex;
    align-items: center;
}




/*VerticalTabMenu*/
* {box-sizing: border-box}

/* Style the tab */
.tab {
    float: left;
    width: 20%;
    height: auto;
    padding: 0;
    margin: 0;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 15px 90px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    font-weight: bold;
}
/* Create an active/current "tab button" class */
.tab button.active {
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 80%;
    border: none;
    height: max-content;
    display: none;
    margin: 0;
}

.tabcontent:first-child {
    display: block;
}


/*studentsTable*/
#Students table {
    width: 100%;
    border-collapse: collapse;
}

#Students th,
#Students td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#Students th {
    background-color: #f2f2f2;
}

#Students tr:nth-child(even) {
    background-color: #f2f2f2;
}

#Students tr:hover {
    background-color: #ddd;
}

#Students button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
}

#Students button:hover {
    background-color: #45a049;
}

/*pagination*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.page-numbers {
    margin: 1em 1em 0;
}

.page-number {
    padding: 0.5em;
    opacity: 0.5;
    cursor: pointer;
}

.active {
    opacity: 1;
}

@media screen and (min-width: 540px) {
    .backward {
        order: 1;
    }

    .page-numbers {
        order: 2;
        margin-top: 0;
    }

    .forward {
        order: 3;
    }
}

.AddStudentBt{
    margin: 25px 5px 25px 5px;
    float: right;
}