/*VerticalTabMenu*/
.tabandcontent{
    display: flex;
    flex-flow: row wrap;
}

/* Style the tab */
.tab {
    display: flex;
    flex-flow: column wrap;
    width: 20vh;
}

/* Style the buttons that are used to open the tab content */
.tab button {

    color: black;
    padding: 15px 20px;
    border: none;
    outline: none;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    font-weight: bold;
    background: linear-gradient(0.25turn, rgba(164, 178, 221, 0.5), rgba(156, 184, 218, 0.5));
}
.tab button.active {
    font-weight: bold;
    background: linear-gradient(0.25turn, rgba(164, 178, 221, 0.5), rgba(156, 184, 218, 0.5));
}

/* Style the tab content */
.tabcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: max-content;
    border: none;
    display: none;
}

@media only screen and (max-width: 800px) {
    .tab{
        display: flex;
        flex-flow: row wrap;
        align-items: center; /* Вирівняти елементи по вертикалі */
        width: auto;
    }

    .tab button{
        width: 33%;
        padding: 15px 15px;
        text-align: center;
    }

    .tabcontent{
        width: 100%;
    }

    .tabandcontent{
        flex-direction: column;
    }
}