.tabandcontent{
    display: flex;
    flex-flow: row wrap;
    margin-top: 82px;
}

.tab {
    display: flex;
    flex-flow: column wrap;
    width: 20vh;
}

.tab button {
    color: black;
    padding: 15px 20px;
    background: #dee3e8;
    border: none;
    outline: none;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    color: white;
    font-weight: bold;
    background: #667e93;
}
.tab button.active {
    color: white;
    font-weight: bold;
    background: #3b4854;
}

.tabcontent {
    justify-content: center;
    align-items: center;
    width: 80%;
    height: max-content;
    border: none;
    display: none;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 800px) {
    .tab{
        display: flex;
        flex-flow: row wrap;
        align-items: center; /* Вирівняти елементи по вертикалі */
        width: auto;
    }

    .tab button{
        width: 33%;
        padding: 15px 15px;
        text-align: center;
    }

    .tabcontent{
        width: 100%;
    }

    .tabandcontent{
        flex-direction: column;
    }
}