/*studentsTable*/
#Students table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

#Students th,
#Students td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#Students th {
    background-color: #dee3e8;
}

#Students tr:nth-child(even) {
    background-color: #dee3e8;
}

#Students tr:hover {
    background-color: #ddd;
}

#Students button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 4px;
}

.cancelStudentBt{
    background-color: #db5c5c;
}

.confirmStudentBt, .forward, .backward{
    background-color: #62b2aa;
}


.backward {
    margin-right: 10px; /* Відступ справа від кнопки */
}

#Students button:hover {
    opacity: 0.8;
}

.delete-button {
    background-color: #db4d4d; /* Червоний колір для кнопки видалення */
    color: white; /* Білий колір тексту */
    border: none; /* Відсутність рамки */
    padding: 5px 10px; /* Відступи */
    cursor: pointer; /* Змінити курсор при наведенні */
}

.edit-button {
    background-color: #729db7; /* Фіолетовий колір для кнопки редагування */
    color: white; /* Білий колір тексту */
    border: none; /* Відсутність рамки */
    padding: 5px 10px; /* Відступи */
    cursor: pointer; /* Змінити курсор при наведенні */
}

/* Зміна кольору кнопок при наведенні */
.delete-button:hover,
.edit-button:hover {
    opacity: 0.8; /* Зменшення прозорості */
}


/*pagination*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.page-numbers {
    margin: 1em 1em 0;
}

.page-number {
    padding: 0.5em;
    opacity: 0.5;
    cursor: pointer;
}

.active {
    opacity: 1;
}

.status-active,
.status-inactive {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 5px;
}

.status-active {
    background-color: #62b2aa; /* Зелений колір для активного статусу */
}

.status-inactive {
    background-color: gray; /* Сірий колір для неактивного статусу */
}


.cell{
    width: 20vh;
}

@media screen and (max-width: 600px) {

    #Students button {
        padding: 3px 5px; /* Змінено padding на 3px висота і 6px ширина */
        cursor: pointer;
        border: none;
        border-radius: 4px;
    }

    #studentsTable .cell{

    }

    #studentsTable td {
        font-size: 12px;
    }

    #Students button img {
        width: 4px;
        height: 4px;
    }
}
