/*studentsTable*/
#Students table {
    width: 100%;
    border-collapse: collapse;
}

#Students th,
#Students td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#Students th {
    background-color: #f2f2f2;
}

#Students tr:nth-child(even) {
    background-color: #f2f2f2;
}

#Students tr:hover {
    background-color: #ddd;
}

#Students button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
}

#Students button:hover {
    background-color: #45a049;
}

/*pagination*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.pagination button{
    margin-top: 25px;
}

.page-numbers {
    margin: 1em 1em 0;
}

.page-number {
    padding: 0.5em;
    opacity: 0.5;
    cursor: pointer;
}

.active {
    opacity: 1;
}

.status-active,
.status-inactive {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 5px;
}

.status-active {
    background-color: green; /* Зелений колір для активного статусу */
}

.status-inactive {
    background-color: gray; /* Сірий колір для неактивного статусу */
}

@media screen and (max-width: 600px) {
    #Students th:nth-child(6),
    #Students td:nth-child(6) {
        display: none;
    }

    #Students th:nth-child(4),
    #Students td:nth-child(4) {
        display: none;
    }

    #Students button {
        padding: 3px 6px; /* Змінено padding на 3px висота і 6px ширина */
        cursor: pointer;
        border: none;
        background-color: #4caf50;
        color: white;
        border-radius: 4px;
    }

    #Students button img {
        width: 10px; /* Змінено ширину зображення на 10px */
        height: 10px; /* Змінено висоту зображення на 10px */
    }
}
