body{
    margin:0;
    padding:0;
    background:#fff;
    font-family: 'Raleway',sans-serif;
    color: #fff;
}
.banner{
    height: 100vh;
    width: 100%;
    background:url('../../assets/overlay.png'),url('../../assets/landing_page_bg.gif');
    background-position: top;
    background-size:cover;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
}
.banner .navbar{
    margin-top:4%;
}
.banner .navbar-brand{
    color: #fff;
    font-size:1.8em;
    font-weight: 700;
    margin-left: 10%;
}
.banner .nav{
    margin-right:10%;
}
.banner .nav li a{
    color:#aaa;
    font-size: 1.2em;
}
.banner .info{
    margin-top:15%;
    transform: translateY(-15%);
}
.banner .info h1{
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}
.banner .info p{
    font-size: 2em;
    font-weight: 500;
    color: #aaa;
    letter-spacing: 2px;
}
.banner .info a{
    margin-left:50%;
    transform: translateX(-50%);
    color: #fff;
    background: #e91d43;
    padding:10px 20px;
    font-size: 2em;
    font-weight: 600;
}
.banner .info a:hover{
    background: #e91e63;
}


.footer{
    background-color: #f8f9fa;
    color: #6c757d;
}

.footer h5{
    font-size: 18px;
    margin-bottom: 20px;
}

.footer p {
    font-size: 14px;
    color: #6c757d;
}

@media (max-width: 768px) {
    .footer .row div {
        margin-bottom: 30px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card-body {
    background-color: #f8f9fa;
    color: #6c757d;
    padding: 20px;
}

.card-body h5.card-title {
    font-size: 18px;
    margin-bottom: 20px;
}

